
:root{
    --mainColor: #2c3e50;
    --midColor: #f39c12;
    --background: #ecf0f1;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background);
}

html{
    scroll-behavior: smooth;
}



.loginDiv{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 100px;
}

.loginDiv h2{
    font-size: 25px;
    color: var(--mainColor);
    position: absolute;
    top: 30%;
}

.loginDiv .loginBtn{
    position: absolute;
    bottom: 30%;
}

.loginDiv img{
    width: 10%;
    height: auto;
    position: absolute;
    top: 40%;
}

.borderLogin{
    border: 4px solid var(--mainColor);
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0.3, 0.3);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--mainColor);
}




